/* ------------------------------------*\
    #RESET
\*------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------*\
    #BOX-SIZING
\*------------------------------------ */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* ------------------------------------*\
    #PAGE
\*------------------------------------ */
:root {
  --purple-1: #5b41ff;
  --purple-2: #6c54ff;
  --purple-3: #8470ff;
  --purple-4: #ada0ff;
  --purple-5: #d6cfff;
  --purple-6: #efecff;
  --gray-1: #17212c;
  --gray-2: #2f3741;
  --gray-3: #5e6872;
  --gray-4: #a7b1bb;
  --gray-5: #d8dee3;
  --gray-6: #eef2f4;
  --green-1: #00c68a;
  --green-2: #e6f9f3;
  --red-1: #ff4651;
  --red-2: #ffedee;
  --white: #ffffff;
  --heading-color: var(--gray-1);
  --text-color: var(--gray-1);
  --border-color: var(--gray-5);
  --overlay: rgba(0, 0, 0, 0.1);
  --h1: 500 4rem "Inter", sans-serif;
  --h2: 600 2.5rem / normal "Inter", sans-serif;
  --h3: 600 1.5rem / normal "Inter", sans-serif;
  --h4: 600 1.3rem / normal "Inter", sans-serif;
  --h5: 600 1.2rem / normal "Inter", sans-serif;
  --h6: 600 1rem / normal "Inter", sans-serif;
  --text-1: 400 1.5rem/2.125rem "Inter", sans-serif;
  --text-2: 400 1.125rem/1.2 "Inter", sans-serif;
  --text-3: 400 1rem / normal "Inter", sans-serif;
  --text-4: 400 0.875rem/1.125rem "Inter", sans-serif;
  --text-5: 400 0.75rem/1rem "Inter", sans-serif;
  --transition-speed: 0.2s;
  --radius-1: 1rem;
  --radius-2: 1.5rem;
  --shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}

html {
  min-height: 100vh;
  color: var(--gray-1);
}

body {
  font: var(--text-2);
}

address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
  margin-bottom: 16px;
  letter-spacing: -0.05em;
  line-height: 1.4;
}

::-moz-selection {
  background: var(--purple-3);
  color: var(--white);
}

::selection {
  background: var(--purple-3);
  color: var(--white);
}

img {
  max-width: 100%;
}

.grid {
  display: flex;
  gap: 40px;
}

.grid__item {
  flex: 1;
}

.grid__item--left {
  flex: 0 0 236px;
}

.grid__item--right {
  flex: 1;
}

.typography h1 {
  font: var(--h1);
  margin-bottom: 1.5rem;
}
.typography h2 {
  font: var(--h2);
  margin-bottom: 4rem;
}
.typography h3 {
  font: var(--h3);
  margin-bottom: 1rem;
}
.typography b {
  font-weight: 600;
}
.typography i {
  font-style: italic;
}
.typography hr {
  margin: 4rem 0;
  border: 1px solid #eff2f4;
  background-color: transparent;
}
.typography a {
  text-decoration: none;
  color: var(--purple-1);
}
.typography ul {
  margin-bottom: 1rem;
}
.typography ul li {
  position: relative;
  padding-left: 20px;
  line-height: 1.6rem;
}
.typography ul li::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--gray-1);
}
.typography section {
  margin-bottom: 4rem;
}
.typography section:last-child {
  margin-bottom: 0;
}
.typography article {
  scroll-margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .typography article {
    scroll-margin-top: 94px;
  }
}

.home-page {
  background-image: url("./src/images/bgr-mob.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--purple-1);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .home-page {
    background-image: url("./src/images/bgr.jpg");
  }
}
.home-page ::-moz-selection {
  color: var(--purple-1);
  background: var(--white);
}
.home-page ::selection {
  color: var(--purple-1);
  background: var(--white);
}
@media screen and (min-width: 768px) {
  .home-page .hero {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
.home-page .hero__text {
  color: var(--white);
  font: var(--text-2);
  font-size: 16px;
  text-align: center;
  margin-bottom: 38px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .home-page .hero__text {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .home-page .hero__text {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1216px) {
  .home-page .hero__text {
    margin-bottom: 96px;
  }
}
.home-page .hero__text b {
  font-weight: 600;
}
.home-page .hero__buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.home-page .hero__buttons a {
  transition: all 0.2s ease-in-out;
}
.home-page .hero__buttons a:hover {
  transform: scale(1.03);
}
.home-page .hero__buttons img {
  width: 230px;
}
@media screen and (min-width: 768px) {
  .home-page .hero__buttons {
    flex-direction: row;
    scroll-margin-top: 94px;
    gap: 40px;
  }
  .home-page .hero__buttons img {
    width: 300px;
  }
}
.home-page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  gap: 30px;
}
.home-page .content h1 {
  color: var(--white);
  text-align: center;
  font: var(--h1);
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}
.home-page .content h1 span {
  display: block;
}
@media screen and (min-width: 768px) {
  .home-page .content h1 {
    padding-top: 30px;
    padding-top: 0;
    margin-bottom: 42px;
    font-size: 69px;
  }
  .home-page .content h1 span {
    display: inline;
  }
}
@media screen and (min-width: 1024px) {
  .home-page .content h1 {
    margin-bottom: 64px;
    font-size: 84px;
  }
}
@media screen and (min-width: 1216px) {
  .home-page .content h1 {
    font-size: 104px;
  }
}
.home-page .footer {
  margin-top: 0;
}

.privacy-page {
  padding-top: 196px;
}

/* ------------------------------------*\
    #HEADINGS
\*------------------------------------ */
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}

/* ------------------------------------*\
    #link
\*------------------------------------ */
a:focus, a:active {
  outline: none;
}

/* ------------------------------------*\
    #WRAPPER
\*------------------------------------ */
.wrapper {
  width: 100%;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1216px) {
  .wrapper {
    max-width: calc(1066px + 16px * 2);
    padding-right: 16px;
    padding-left: 16px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: var(--white);
}
.home-page .header {
  padding-top: 66px;
}

.header--home {
  all: unset;
  display: flex;
  justify-content: center;
}

.header__logo img {
  width: 187px;
  height: 24px;
  display: block;
}
@media screen and (min-width: 768px) {
  .home-page .header__logo img {
    width: 282px;
    height: 36px;
  }
}

.header__menu {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: var(--gray-6);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header__menu:hover, .header__menu.active, .header__menu:focus {
  background-color: var(--purple-6);
}
.header__menu:hover svg, .header__menu.active svg, .header__menu:focus svg {
  color: var(--purple-1);
}
.header__menu svg {
  width: 13px;
  height: 8px;
  color: var(--gray-3);
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.footer {
  text-align: center;
  padding-bottom: 24px;
  margin-top: 140px;
  font: var(--text-4);
}
.footer .wrapper {
  line-height: 1.5;
}
.home-page .footer {
  color: white;
  font: var(--text-5);
}
@media screen and (min-width: 1024px) {
  .home-page .footer {
    font: var(--text-4);
  }
}
.home-page .footer .wrapper {
  padding: 0;
}
.footer a {
  color: inherit;
  transition: all 0.2s ease-in-out;
  display: block;
  text-decoration: underline;
}
.footer a:hover {
  color: var(--purple-1);
}
.home-page .footer a:hover {
  color: var(--gray-5);
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 48px;
  }
}

/**
* Reset input styles.
*/
.input {
  -webkit-appearance: none;
  /* removing inner shadow on iOS inputs */
  -webkit-font-smoothing: inherit;
  box-sizing: border-box;
  transition: all 0.5s ease;
  background: none;
  border: none;
  color: #000;
  width: 100%;
  display: inline-block;
  font: var(--text-3);
  padding: 0;
  /* remove browser defaults */
  vertical-align: middle;
  width: 100%;
}
.input:invalid {
  box-shadow: none;
  /* fixes mozilla red outline (shadow) */
}
.input[readonly] {
  cursor: text;
}
.input::-ms-clear {
  display: none;
  /* remove IE clear icon */
}
.input:not(:disabled):focus {
  outline: none;
}

.input--primary {
  height: 40px;
  padding: 20px;
  color: #000;
  display: flex;
  /**
   * @disabled
   */
}
.input--primary:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.button {
  -webkit-font-smoothing: inherit;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.2s ease;
  background-color: transparent;
  cursor: pointer;
  font: var(--text-3);
  text-decoration: none;
  line-height: 1;
}
.button:not(:disabled):active {
  outline: none;
  box-shadow: none !important;
  text-decoration: none;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.button--primary {
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: auto;
  padding: 0 20px;
  color: #000;
  font: var(--text-3);
  text-decoration: none;
}
.main-nav {
  padding: 24px 15px;
}
.main-nav a {
  padding: 8px 10px;
  height: 32px;
  align-items: center;
  display: inline-flex;
  border-radius: 12px;
  color: var(--gray-1);
  text-decoration: none;
  letter-spacing: 0;
  font: var(--text-5);
  transition: all 0.2s ease-in-out;
}
.main-nav a:hover {
  background-color: rgba(238, 242, 244, 0.6);
}
.main-nav a.active {
  color: var(--purple-1);
  background-color: var(--purple-6);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .main-nav {
    position: sticky;
    top: 70px;
  }
}

.main-nav-wrapper {
  transform: translateY(-120%);
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--gray-5);
}
.main-nav-wrapper.active {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .main-nav-wrapper {
    position: static;
    transform: translateY(0);
    border-bottom: none;
    background-color: transparent;
  }
}

/* ------------------------------------*\
    #TRUMPS - SPACING
\*------------------------------------ */
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.(m|p)(t|r|b|l|h|v)(-|+|0) {}` = margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
      * Margin helper classes.
      *
      * Add margins.
      */
.m {
  margin: 16px !important;
}

.mt {
  margin-top: 16px !important;
}

.mr {
  margin-right: 16px !important;
}

.mb {
  margin-bottom: 16px !important;
}

.ml {
  margin-left: 16px !important;
}

.mh {
  margin-right: 16px !important;
  margin-left: 16px !important;
}

.mv {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

/**
      * Add extratiny margins.
      */
.m--- {
  margin: calc(16px / 8) !important;
}

.mt--- {
  margin-top: calc(16px / 8) !important;
}

.mr--- {
  margin-right: calc(16px / 8) !important;
}

.mb--- {
  margin-bottom: calc(16px / 8) !important;
}

.ml--- {
  margin-left: calc(16px / 8) !important;
}

.mh--- {
  margin-right: calc(16px / 8) !important;
  margin-left: calc(16px / 8) !important;
}

.mv--- {
  margin-top: calc(16px / 8) !important;
  margin-bottom: calc(16px / 8) !important;
}

/**
      * Add tiny margins.
      */
.m-- {
  margin: calc(16px / 4) !important;
}

.mt-- {
  margin-top: calc(16px / 4) !important;
}

.mr-- {
  margin-right: calc(16px / 4) !important;
}

.mb-- {
  margin-bottom: calc(16px / 4) !important;
}

.ml-- {
  margin-left: calc(16px / 4) !important;
}

.mh-- {
  margin-right: calc(16px / 4) !important;
  margin-left: calc(16px / 4) !important;
}

.mv-- {
  margin-top: calc(16px / 4) !important;
  margin-bottom: calc(16px / 4) !important;
}

/**
      * Add small margins.
      */
.m- {
  margin: calc(16px / 2) !important;
}

.mt- {
  margin-top: calc(16px / 2) !important;
}

.mr- {
  margin-right: calc(16px / 2) !important;
}

.mb- {
  margin-bottom: calc(16px / 2) !important;
}

.ml- {
  margin-left: calc(16px / 2) !important;
}

.mh- {
  margin-right: calc(16px / 2) !important;
  margin-left: calc(16px / 2) !important;
}

.mv- {
  margin-top: calc(16px / 2) !important;
  margin-bottom: calc(16px / 2) !important;
}

/**
      * Add large margins.
      */
.m\+ {
  margin: calc(16px * 2) !important;
}

.mt\+ {
  margin-top: calc(16px * 2) !important;
}

.mr\+ {
  margin-right: calc(16px * 2) !important;
}

.mb\+ {
  margin-bottom: calc(16px * 2) !important;
}

.ml\+ {
  margin-left: calc(16px * 2) !important;
}

.mh\+ {
  margin-right: calc(16px * 2) !important;
  margin-left: calc(16px * 2) !important;
}

.mv\+ {
  margin-top: calc(16px * 2) !important;
  margin-bottom: calc(16px * 2) !important;
}

/**
      * Add huge margins.
      */
.m\+\+ {
  margin: calc(16px * 4) !important;
}

.mt\+\+ {
  margin-top: calc(16px * 4) !important;
}

.mr\+\+ {
  margin-right: calc(16px * 4) !important;
}

.mb\+\+ {
  margin-bottom: calc(16px * 4) !important;
}

.ml\+\+ {
  margin-left: calc(16px * 4) !important;
}

.mh\+\+ {
  margin-right: calc(16px * 4) !important;
  margin-left: calc(16px * 4) !important;
}

.mv\+\+ {
  margin-top: calc(16px * 4) !important;
  margin-bottom: calc(16px * 4) !important;
}

/**
      * Remove margins.
      */
.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mh0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mv0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/**
      * Negative margins.
      */
.-m {
  margin: calc(16px * -1) !important;
}

.-mt {
  margin-top: calc(16px * -1) !important;
}

.-mr {
  margin-right: calc(16px * -1) !important;
}

.-mb {
  margin-bottom: calc(16px * -1) !important;
}

.-ml {
  margin-left: calc(16px * -1) !important;
}

.-mh {
  margin-right: calc(16px * -1) !important;
  margin-left: calc(16px * -1) !important;
}

.-mv {
  margin-top: calc(16px * -1) !important;
  margin-bottom: calc(16px * -1) !important;
}

/**
      * Tiny negative margins.
      */
.-m-- {
  margin: calc(calc(16px / 4) * -1) !important;
}

.-mt-- {
  margin-top: calc(calc(16px / 4) * -1) !important;
}

.-mr-- {
  margin-right: calc(calc(16px / 4) * -1) !important;
}

.-mb-- {
  margin-bottom: calc(calc(16px / 4) * -1) !important;
}

.-ml-- {
  margin-left: calc(calc(16px / 4) * -1) !important;
}

.-mh-- {
  margin-right: calc(calc(16px / 4) * -1) !important;
  margin-left: calc(calc(16px / 4) * -1) !important;
}

.-mv-- {
  margin-top: calc(calc(16px / 4) * -1) !important;
  margin-bottom: calc(calc(16px / 4) * -1) !important;
}

/**
      * Small negative margins.
      */
.-m- {
  margin: calc(calc(16px / 2) * -1) !important;
}

.-mt- {
  margin-top: calc(calc(16px / 2) * -1) !important;
}

.-mr- {
  margin-right: calc(calc(16px / 2) * -1) !important;
}

.-mb- {
  margin-bottom: calc(calc(16px / 2) * -1) !important;
}

.-ml- {
  margin-left: calc(calc(16px / 2) * -1) !important;
}

.-mh- {
  margin-right: calc(calc(16px / 2) * -1) !important;
  margin-left: calc(calc(16px / 2) * -1) !important;
}

.-mv- {
  margin-top: calc(calc(16px / 2) * -1) !important;
  margin-bottom: calc(calc(16px / 2) * -1) !important;
}

/**
      * Large negative margins.
      */
.-m\+ {
  margin: calc(calc(16px * 2) * -1) !important;
}

.-mt\+ {
  margin-top: calc(calc(16px * 2) * -1) !important;
}

.-mr\+ {
  margin-right: calc(calc(16px * 2) * -1) !important;
}

.-mb\+ {
  margin-bottom: calc(calc(16px * 2) * -1) !important;
}

.-ml\+ {
  margin-left: calc(calc(16px * 2) * -1) !important;
}

.-mh\+ {
  margin-right: calc(calc(16px * 2) * -1) !important;
  margin-left: calc(calc(16px * 2) * -1) !important;
}

.-mv\+ {
  margin-top: calc(calc(16px * 2) * -1) !important;
  margin-bottom: calc(calc(16px * 2) * -1) !important;
}

/**
      * Huge negative margins.
      */
.-m\+\+ {
  margin: calc(calc(16px * 4) * -1) !important;
}

.-mt\+\+ {
  margin-top: calc(calc(16px * 4) * -1) !important;
}

.-mr\+\+ {
  margin-right: calc(calc(16px * 4) * -1) !important;
}

.-mb\+\+ {
  margin-bottom: calc(calc(16px * 4) * -1) !important;
}

.-ml\+\+ {
  margin-left: calc(calc(16px * 4) * -1) !important;
}

.-mh\+\+ {
  margin-right: calc(calc(16px * 4) * -1) !important;
  margin-left: calc(calc(16px * 4) * -1) !important;
}

.-mv\+\+ {
  margin-top: calc(calc(16px * 4) * -1) !important;
  margin-bottom: calc(calc(16px * 4) * -1) !important;
}

/**
      * Padding helper classes.
      *
      * Add paddings.
      */
.p {
  padding: 16px !important;
}

.pt {
  padding-top: 16px !important;
}

.pr {
  padding-right: 16px !important;
}

.pb {
  padding-bottom: 16px !important;
}

.pl {
  padding-left: 16px !important;
}

.ph {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

.pv {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

/**
      * Add tiny paddings.
      */
.p-- {
  padding: calc(16px / 4) !important;
}

.pt-- {
  padding-top: calc(16px / 4) !important;
}

.pr-- {
  padding-right: calc(16px / 4) !important;
}

.pb-- {
  padding-bottom: calc(16px / 4) !important;
}

.pl-- {
  padding-left: calc(16px / 4) !important;
}

.ph-- {
  padding-right: calc(16px / 4) !important;
  padding-left: calc(16px / 4) !important;
}

.pv-- {
  padding-top: calc(16px / 4) !important;
  padding-bottom: calc(16px / 4) !important;
}

/**
      * Add small paddings.
      */
.p- {
  padding: calc(16px / 2) !important;
}

.pt- {
  padding-top: calc(16px / 2) !important;
}

.pr- {
  padding-right: calc(16px / 2) !important;
}

.pb- {
  padding-bottom: calc(16px / 2) !important;
}

.pl- {
  padding-left: calc(16px / 2) !important;
}

.ph- {
  padding-right: calc(16px / 2) !important;
  padding-left: calc(16px / 2) !important;
}

.pv- {
  padding-top: calc(16px / 2) !important;
  padding-bottom: calc(16px / 2) !important;
}

/**
      * Add large paddings.
      */
.p\+ {
  padding: calc(16px * 2) !important;
}

.pt\+ {
  padding-top: calc(16px * 2) !important;
}

.pr\+ {
  padding-right: calc(16px * 2) !important;
}

.pb\+ {
  padding-bottom: calc(16px * 2) !important;
}

.pl\+ {
  padding-left: calc(16px * 2) !important;
}

.ph\+ {
  padding-right: calc(16px * 2) !important;
  padding-left: calc(16px * 2) !important;
}

.pv\+ {
  padding-top: calc(16px * 2) !important;
  padding-bottom: calc(16px * 2) !important;
}

/**
      * Add huge paddings.
      */
.p\+\+ {
  padding: calc(16px * 4) !important;
}

.pt\+\+ {
  padding-top: calc(16px * 4) !important;
}

.pr\+\+ {
  padding-right: calc(16px * 4) !important;
}

.pb\+\+ {
  padding-bottom: calc(16px * 4) !important;
}

.pl\+\+ {
  padding-left: calc(16px * 4) !important;
}

.ph\+\+ {
  padding-right: calc(16px * 4) !important;
  padding-left: calc(16px * 4) !important;
}

.pv\+\+ {
  padding-top: calc(16px * 4) !important;
  padding-bottom: calc(16px * 4) !important;
}

/**
      * Remove paddings.
      */
.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.ph0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}/*# sourceMappingURL=app.css.map */