.button {
  -webkit-font-smoothing: inherit;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: $color-base;
  transition: background-color 0.2s ease, color 0.2s ease;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  transition: all 0.2s ease;
  background-color: transparent;
  cursor: pointer;
  font: var(--text-3);
  text-decoration: none;
  line-height: 1;

  &:not(:disabled) {
    &:hover {
    }

    &:focus {
    }

    &:active {
      outline: none;
      box-shadow: none !important;
      text-decoration: none;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.button--primary {
  display: inline-flex;
  align-items: center;
  height: $btn--primary-height;
  width: auto;
  padding: $btn--primary-padding;
  color: $color-btn;
  font: var(--text-3);
  text-decoration: none;

  &:not(:disabled) {
    &:hover,
    &:focus,
    &:active {
    }
  }
}
